body{
    overflow-x:hidden;
}


#barra{
      
    background-color: #645399;
    
}

#menu{
font-size: 18px;

}
#menu a{
    color:#645399;
    border-radius:10px;
    padding:10px;
    box-shadow:0px 1px 4px rgb(0,0,0,0.2) inset;
   
    
}
#menu a:hover{
    color:blueviolet;
    background-color: rgb(0,0,0,0.1);
}

#menu img{
padding-right:10px;
padding-bottom:10px;
}
.carousel-inner
{
    max-height:800px;
}

