body{
    overflow-x:hidden;
}


#barra{
      
    background-color: #645399;
    
}

#servicios{
    background-color: rgba(100, 83, 153, 1);

    padding: 5px;
    margin: 5px;
}
#servicios h3,p{
    color:#ffffff;
    font-weight:bold;

  
}

#menu{
font-size: 18px;
font-weight:bold;

}
#menu a{
    color:#645399;
    border-radius:15px;
    padding:15px;
    box-shadow:0px 0px 2px rgb(0,0,0,0.2) inset;
    margin:0px;
   
    
}
#menu a:hover{
    color:#ffffff;
    background-color: rgba(100, 83, 153, 1);
}

#menu img{
padding-right:5px;
padding-bottom:5px;


}
.carousel-inner
{
    max-height:800px;
}

.titulo{
 color:#645399;
 font-weight: bold;
}
#intro{
    font-size: 23px;
}
.formulario {
    background-color:#645399;
    color:#ffffff;
    font-weight: bold;
    border-radius: 10px;
    padding:10px;
 
    
}
.botonEnviar{
color:black;
}
@media (min-width: 1000px)
{
   
    #menu a{
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
   
    }

}
@media (max-width:900px)
{
    #intro{
        font-size: 18px !important;
        text-align:center;
    }
    .titulo{
        
            font-size: 18px !important;
        
    }
    #servicios .row{
        width:100% !important;
        text-align:center;
        padding-top:20px;
        padding-bottom:20px;
        
    }
    #menu img{
        padding-bottom:20px !important;
   
        
        }
    #formulario{
        width:100% !important;
        height:75%;
        text-align:center;
        padding:30px;
    }
}
